body{
	background-color: blue;
	background-position: center;
	background-size: cover;
	text-align: center;
}
.logo{
	color: white;
	font-family: serif;
	font-size: 25px;
	position: absolute;
	left: 15px;
	top: 5px;
}
.ibar{
	color: orange;
	font-weight: bold;
}
.hey{
	color: white;
	font-family: arial;
	font-size: 50px;
	position: relative;
	top: 250px;
}
.talk{
	color: white;
	font-family: arial;
	font-size: 20px;
	position: relative;
	top: 250px;
}
}
